body {
    background-color: #1f1f1f;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-image: url(/img/bg_4k.jpg);
    /* taken from itsravey.github.io */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.content , .content-rotated {
    position: absolute;
    height: auto;
    width: auto;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: push-in 0.35s;
    
}

@keyframes push-in {
    from { opacity: 0; top: 52%;}
    to   { opacity: 1; top: 50%;}   
}

@keyframes fade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.content-rotated {
    transform: translate(-50%, -50%) rotate(-1deg);
}

.text , .text-rotated {
    font-size: 48px;
    color: #fff;
    margin: -15px;
}

.subtext , .codes {
    font-size: 24px;
    color: #ccc;
}

.projects {
    font-size: 20px;
    color: #ccc;
}

.riitag-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
}

.links , .back {
    font-size: 24px;
    color: #ccc;
    
}

a {
    color: #fff;
    transition: opacity 0.2s;
    opacity: 0.8;
    text-decoration: none;
}

a:hover {
    color: #fff;
    transition: opacity 0.2s;
    opacity: 1;
    text-shadow: 1px 1px 3px #ccc;
}

.avy {
    height: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #ccc;
    text-align: center;
    animation: fade 1.5s;
}

.not-found {
    font-size: 60px;
    color: #fff;
    margin: -15px;
    text-shadow: 2px 2px 0px #5a5a5a;
    
}