body {
    color: white;
    background: black;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container { 
    position: absolute;
    height: auto;
    width: auto;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.flex-container > div {
    padding: 15px;
}

.content {
    position: absolute;
    height: auto;
    width: auto;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image {
    border-radius: 10px;
    height: 256px;
    width: 256px;
}

.quote {
    font-size: 32px;
    padding: 10px;
}

a {
    color: #fff;
    transition: 0.15s filter;
    transition: opacity 0.25;
    text-decoration: none;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.25));
}

a:hover {
    color: #fff;
    opacity: 1;
    filter: drop-shadow(1px 1px 3px #ccc);
}

.error-text {
    font-size: 1.5em;
    margin: -15px;
}