/* this css is still very messy so don't use it as a reference or anything, i have no idea what i'm doing lol */

:root {
    --main: white;
    --bg: black;
    --shadow: rgba(0, 0, 0, 0.25);
    --hover: #ccc;
}

@font-face {
    font-family: Inter;
    src: url("/fonts/Inter-Regular.woff");
    src: url("/fonts/Inter-Regular.woff2");
    font-weight: normal;
}

@font-face {
    font-family: Inter;
    src: url("fonts/Inter-Bold.woff");
    src: url("fonts/Inter-Bold.woff2");
    font-weight: bold;
}

@keyframes push-in {
    from { opacity: 0; margin-left: -1%;}
    to   { opacity: 1; margin-left: 0%;}   
}

html, body {
    color: var(--main);
    background: var(--bg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-size: 1.5em;
    font-family: Inter, Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-weight: normal;
}

body {
    animation: push-in 0.5s ease;
    background-image: url("/img/anima_city_bg.jpg")
}

.content, .not-found, .not-found-bg {
	display: flex;
	flex-flow: column wrap;
    justify-content: center;
    height: 100%;
    margin-left: 10vw;
}

.formerly {
    text-decoration: underline;
}

#image {
    border-radius: 10px
}

.subtext, .links {
    font-size: 0.5em;
    opacity: 0.5;
}

.links {
    padding-top: 10px;;
    color: var(--main);
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.15s filter;
    transition: opacity 0.25;
    filter: drop-shadow(1px 1px 3px var(--shadow));
}

a:hover {
    color: #fff;
    opacity: 1;
    filter: drop-shadow(1px 1px 3px var(--hover));
}

/* 404.html, could be improved */

.not-found-bg {
    color: white;
    position: absolute;
    z-index: auto; /* this works somehow, i won't question it */
    opacity: 0.25;
    font-size: 5em;
    font-weight: bold;
}

.not-found > #text {
    text-shadow: 1px 1px 3px var(--shadow);
}

.not-found > #return {
    font-size: 0.6em;
    opacity: 0.75;
    z-index: 1;
}