body {
    background-color: #1f1f1f;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10%;

}

.avy {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
    height: auto;
    padding: 15px;
    border-radius: 50%;

}

.header-text {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px grey;
}

.text {
    color: white;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.text2 {
    color: rgba(255, 255, 255, 0.6);
}

.riitag-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 10px;
    max-width: 75%;
    border-radius: 25px;
}

.fact {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding-top: 15px;
    padding-left: 10%;
    padding-right: 10%;
}

a:link {
    color: rgba(255, 255, 255, 0.6);
}

a:visited {
    color: rgba(255, 255, 255, 0.6);
}

a:hover {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);
}

.links {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

.footer {
    position: fixed;
    padding: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(26, 26, 26, 0.9);
    text-align: center;
}