body {
    background-color: #1f1f1f;
}

.avy {
    display: block;
    margin-left: auto;
     margin-right: auto;
    width: 20%;
    height: 20%;
    padding: 10px;
    border-radius: 50%;

}

.header {
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 2px grey;
}

.text {
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.fact {
    color: grey;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}

a:link {
    color:lightgrey;
}

a:visited {
    color: lightgrey;
}

.links {
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.footer {

    position: fixed;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: grey;
    background-color: rgba(26, 26, 26, 0.9);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
